<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Naruto World</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('home')}}">🔥 Naruto World</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('home')}}">🏠 Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('personagens')}}">👥 Personagens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('cadpersonagens')}}">📝 Cadastrar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('personagensEstoque')}}">🗂️ CRUD - Personagens</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('vilasEstoque')}}">🏘️ CRUD - Vilas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('apinaruto')}}">🌐 API Naruto</a>
                </li>
              </ul>
            </div>
        </div>
      </nav>

    {% block content %}
    {% endblock content %}

    <footer class="text-center py-4 mt-5">
        <div class="container">
            <div class="footer-divider"></div>
            <p class="text-light mb-0">🍃 Todos os direitos reservados - Naruto World ®</p>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>